<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit comment</title>
</head>

<body>
    <h1>Edit comment</h1>
    <form action="/comments/<%= comment.id %>/edit">
        <textarea style="align-content: left;" name="comment" id="" cols="30" rows="10">
            <%= comment.comment %>
        </textarea>
        <br>
        <button style="font-size: 1.3em">Save</button>
        <button style="font-size:1.3em"><a style="text-decoration: none;"
                href="/comments/<%= comment.id %>">Return</a></button>
    </form>
</body>

</html>